@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

*{ margin:0; padding:0;}
body{ margin:0; padding:0;
        /*font-family:"맑은 고딕";*/
	    font-family: 'Noto Sans KR', sans-serif;
		font-size:12px;
		color:#333;}
img{border:0;}		
ul, li{ list-style:none;}
a{ text-decoration:none; color:#333;}
